<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Edit Code page</h1>
        <form id="editForm" action="/<%= tomeDataKey.id %>?_method=PUT" method="POST">
          <div class="formElement"> <p>Code Title:</p> <textarea name="title" ><%= tomeDataKey.title %> </textarea></div>
            <div class="formElement"> <p>Function Name:</p> <input type="text" name="fName" value="<%= tomeDataKey.fName %>"/></div>
            <div id="paramDiv">
              <% for(let i = 0; i < tomeDataKey.parameters.length; i++) { %>
              <div class="formElement"> <p>Parameter <%=i+1%>:</p> <input type="text" name="par<%=i%>" value="<%= tomeDataKey.parameters[i] %>"/></div>
              <%}%>
            </div>
            <div class="formElement"> <p>Code Text:</p> <textarea name="jsText" ><%= tomeDataKey.jsText %> </textarea><br/>
            <input type="submit" name="" value="Save updates"/></div>
        </form>

        <button id="addParamButton"> Add another parameter </button>
        <button id="removeParamButton"> Remove last parameter </button>
        <script>
          document.getElementById("addParamButton").addEventListener("click", function() {
            let newParamButton = document.createElement("div");
            newParamButton.classList.add("formElement");
            let paramText = document.createElement("p");
            let numberOfParams =   document.getElementById("paramDiv").childElementCount;
            paramText.textContent = `Parameter ${numberOfParams+1}:`;
            newParamButton.appendChild(paramText);
            let inputElement = document.createElement("input");
            inputElement.setAttribute("type", "text");
            inputElement.setAttribute("name", `par${numberOfParams}`);
            inputElement.setAttribute("value", "");
            newParamButton.appendChild(inputElement);
            console.log("Button Works");
            document.getElementById("paramDiv").appendChild(newParamButton);
          });
          document.getElementById("removeParamButton").addEventListener("click", function() {
            console.log("Button Works");
          });
        </script>
    </body>
</html>
