<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body >
      <h1> <%= tomeDataKey.title %> </h1>
        <h4><%= tomeDataKey.fName %> ( <% for(let i = 0; i < tomeDataKey.parameters.length; i++) {
         <%=tomeDataKey.parameters[i]%><%if(i+1<tomeDataKey.parameters.length){%><%=", "%><%}%>
      <%}%>)
           { </h4>
             <wrapper style="white-space: pre-wrap;"><h4><%=tomeDataKey.jsText; %></h4></wrapper><h4>
             }

         </h4>
        <nav>
            <a href="/">Back to code Index</a>
        </nav>
        <nav>
            <a href="/<%=tomeDataKey.id%>/edit">Edit this code</a>
        </nav>
        <nav>
            <a href="/<%=tomeDataKey.id%>/run">Run this code</a>
        </nav>
        <form action="/<%=tomeDataKey.id%>?_method=DELETE" method="POST">
          <input type="submit" value="Delete"> </input>
        </form>
    </body>
</html>
